body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #292a34; /* Dark indigo background */
    color: #ffffff; /* Light text */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(41, 42, 52, 0.9); /* Faded dark indigo background */
    padding: 20px;
    border-radius: 10px;
}
h1, h2 {
    font-family: 'Cinzel Decorative', cursive, sans-serif;
    color: #6572d7; /* Flat indigo color for titles */
    text-align: center;
}
h3, h4{
    text-align: center;
}
form {
    margin-top: 20px;
}
label, input {
    display: block;
    margin-bottom: 10px;
    color: #ffffff; /* Light text for labels */
}
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjust input width */
    padding: 10px;
    border: 1px solid #ffffff; /* White border */
    border-radius: 5px;
    background-color: transparent; /* Transparent background */
    color: #ffffff; /* Light text */
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #6572d7; /* Flat indigo color for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #3f51b5; /* Darker indigo on hover */
}
.alert {
    color: #ffffff;
    background-color: #6572d7; /* Flat indigo background for alert */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: none;
}
img.logo {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust logo size */
    height: auto;
    margin-bottom: 20px; /* Add space between logo and form */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}
.product-item:hover {
    transform: scale(1.05);
}
.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.product-details {
    padding: 15px;
}
.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}
.product-description {
    font-size: 1em;
    color: #666;
}
.product-price {
    font-size: 1.2em;
    color: #e91e63;
    margin: 10px 0;
}
/* CSS for the overlay and dialog box */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.hidden {
    visibility: hidden;
    opacity: 0;
}

.dialog {
    background: white;
    color: #222;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.dialog .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
